[Unit]
Description=prototype_long_v2 - Bybit Quant Bot
After=network.target

[Service]
Type=simple
Environment=SSL_CERT_FILE=/usr/local/app/algo_3kings_big_long/venv/lib/python3.12/site-packages/certifi/cacert.pem
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/usr/local/app/algo_3kings_long_v2
ExecStart=/usr/local/app/algo_3kings_long_v2/venv/bin/python3.12 -u simulate_trading.py
Restart=always
RestartSec=10
User=root

[Install]
WantedBy=multi-user.target